
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="description" content="MVP.css - No classes, no framework. Just semantic HTML and you're done.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

</head>

<body>
            <main>
                    {% block content %}
                        
                    {% endblock content %}
            </main>
    <script type="module">
        import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>


</body>
</html>
